{% extends "network/layout.html" %}
{% load static %}  <!-- Carga los archivos estáticos -->

{% block title %}{{ title_page }}{% endblock %}

{% block body %}
    <h1 class="principal-title">{{ title_page }}</h1>
    {% if message %}
        {{ message }}
    {% endif %}
    {% if active_posts %}
        <div class="page-div">
            {% for post in active_posts %}
            <p class="post-p">
                <p class="mini-title">
                    Post made by: {{ post.user }}
                    <span class="timestamp">{{ post.timestamp }}</span>  <!-- Muestra la fecha y hora de la publicación -->
                </p>  <!-- Muestra el nombre del usuario que hizo la publicación -->
                <hr>
                    <p id="post-body" data-post-id="{{post.id}}" class="post-body">{{ post.body }}</p>  <!-- Muestra el contenido de la publicación -->
                    <div>
                        {% if request.user.is_authenticated %}
                            <button class="change-button" id="like-post-button-{{ post.id }}">
                                {% if post.is_liked %}
                                    Unlike
                                {% else %}
                                    Like
                                {% endif %}
                            </button>
                        {% endif %}
                        {% if post.likes.count == 1 %}
                            <span class="likes-count" id="likes-count-{{post.id}}">{{ post.likes.count }} Like</span>
                        {% else %}
                            <span class="likes-count" id="likes-count-{{post.id}}">{{ post.likes.count }} Likes</span>
                        {% endif %}
                    </div>
                    <div>
                        {% if post.user == request.user %}
                            <button class="change-button" id="edit-post-button-{{post.id}}">Edit Post</button>
                        {% endif %}
                    </div>                    
                </p>
            {% endfor %}
        </div> 

    {% else %}
        No active posts.
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if active_posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ active_posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ active_posts.number }} of {{ active_posts.paginator.num_pages }}.
            </span>
    
            {% if active_posts.has_next %}
                <a href="?page={{ active_posts.next_page_number }}">next</a>
                <a href="?page={{ active_posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

{% block script %}
    <!-- Importar el script para la funcionalidad de la bandeja de entrada -->
    <script src="{% static 'network/profile.js' %}"></script>  <!-- Script que maneja el seguimiento de usuarios -->
{% endblock %}