{% extends "network/layout.html" %}  <!-- Extiende el layout principal de la red social -->
{% load static %}  <!-- Carga los archivos estáticos -->

{% block body %}
    <div id="profile-view" data-is-following="{{ is_following|yesno:'true,false' }}" data-user-id="{{ profile.user.id }}">
        <h1 class="principal-title">{{ profile.user }}</h1>  <!-- Muestra el nombre del usuario del perfil -->

        {% if active_posts %}  <!-- Verifica si hay publicaciones -->
        <div class="page-div">
            <div class="follow-buttons"> <!-- Nuevo contenedor para alinear los botones -->
                <a href="{% url 'profile_connections' profile.user.id %}?view=followers" class="link-follow-button principal-button">
                    Followers: <span id="num_followers">{{ num_followers }}</span>
                </a>
                
                <a href="{% url 'profile_connections' profile.user.id %}?view=following" class="link-follow-button principal-button">
                    Following: {{ num_following }}
                </a>
            </div>

            {% for post in active_posts %}  <!-- Itera sobre todas las publicaciones -->
                <p class="post-p">
                    <p class="mini-title">
                        Post made by:  <a class="post-link principal-button" href="{% url 'profile' post.user %}">{{ post.user }}</a>
                        <span class="timestamp">{{ post.timestamp }}</span>  <!-- Muestra la fecha y hora de la publicación -->
                    </p>  <!-- Muestra el nombre del usuario que hizo la publicación -->
                    <hr>
                    <p id="post-body" class="post-body" data-post-id="{{post.id}}">{{ post.body }}</p>  <!-- Muestra el contenido de la publicación -->
                    <div class="post-actions">
                        <div class="left-actions">
                            {% if request.user.is_authenticated %}
                                <button class="action-button" id="like-post-button-{{ post.id }}">
                                    {% if post.is_liked %}
                                        Unlike
                                    {% else %}
                                        Like
                                    {% endif %}
                                </button>
                            {% endif %}
                            
                            <span class="likes-count" id="likes-count-{{post.id}}">
                                {% if post.likes.count == 1 %}
                                    {{ post.likes.count }} Like
                                {% else %}
                                    {{ post.likes.count }} Likes
                                {% endif %}
                            </span>
                        </div>
                    
                        {% if post.user == request.user %}
                            <div class="right-actions">
                                <button class="action-button" id="edit-post-button-{{post.id}}">Edit Post</button>
                            </div>
                        {% endif %}
                    </div>                    
                </p>
            {% endfor %}
        </div> 
        <div>
        {% else %}
            No active active_posts.  <!-- Mensaje cuando no hay publicaciones activas -->
        {% endif %} 
        
        {% if is_profile != True and request.user.is_authenticated %}  <!-- Verifica si no es el perfil del usuario autenticado -->
            <div id="follow-div"></div>  <!-- Div para el botón de seguir/ dejar de seguir -->
        {% endif %}

        <div class="pagination">
            <span class="step-links">
                {% if active_posts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ active_posts.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ active_posts.number }} of {{ active_posts.paginator.num_pages }}.
                </span>
        
                {% if active_posts.has_next %}
                    <a href="?page={{ active_posts.next_page_number }}">next</a>
                    <a href="?page={{ active_posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- Importar el script para la funcionalidad de la bandeja de entrada -->
    <script src="{% static 'network/profile.js' %}"></script>  <!-- Script que maneja el seguimiento de usuarios -->
{% endblock %}